<h2>Sign In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, autofocus: true, autocomplete: "username" %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "current-password" %>

  <%= f.submit "Log in" %>
<% end %>
