<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :styles %> <!-- This will inject the styles defined in the :styles content block -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= yield %> <!-- This will display the content from views like login page -->
</body>